html {
font-size: 18px;
line-height: 1.4;
font-family: "Helvetica", sans-serif;
}

.container {
  width: 960px;
  margin: 0 auto;
}

header {
  background-color: cadetblue;
  color: white;
  display: flex;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 1rem;
  position: absolute;
  width: 960px;
  margin-top: 1rem;
  align-items: center;
}

@media only screen and (max-width: 1024px) {
  header {
    margin-top: 0;
    width: 100%;
  }

  .container {
    width: 100%;
  }
}

@media only screen and (max-width: 560px) {
  #mobile-menu {
    display: block;
  }

  #nav-menu {
    display: none;
  }
}

#logo {
display: flex;
flex-grow: 1;
align-items: center;
}

#logoimage {
  height: 1.5rem;
  padding-left: 2rem;
  padding-right: 1rem;
}

.menu-item {
  padding-right: 2rem;
}

@media only screen and (min-width: 561px) {
  #mobile-menu {
    display: none;
  }
}


/* Banner */

.banner {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/tortoiseshell-optics/resources/images/glasses-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 30rem;
  width: 100%;
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 1024px) {
  .banner {
    height: 22rem;
  }
}

@media only screen and (max-width: 560px) {
  .banner {
    height: 17rem;
  }
}

.banner-text {
  background-color: white;
  padding: 1.5rem 5rem;
  float: right;
}

@media only screen and (max-width: 1024px) {
  .banner-text {
    padding: 0.75rem 4rem;
    margin-top: 5rem;
  }

  .banner-text h2 {
    font-size: 1.33rem;
  }
}

@media only screen and (max-width: 560px) {
  .banner-text {
    padding: 1rem 0rem;
    margin-top: 9rem;
  }

  .banner-text h2 {
    font-size: 1rem;
    text-align: center;
  }

  #company-name {
    display: none;
  }
}

.banner-text h2 {
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.2;
  text-transform: uppercase;
}

/* Services */

#services-container {
  width: 960px;
  margin: 0 auto 3rem auto;
  display: flex;
  justify-content: center;
  height: 8rem;

}

@media only screen and (max-width: 560px) {
#services-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 3.77rem;
  height: auto;
}
  .service {
    margin-top: 1.54rem;
    margin-bottom: 1.54rem;
  }
}

.service {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 8rem;
  width: 5rem;
  margin: 3rem;
  text-align: center;
  align-items: center;
}

.icon {
  width: 3.5rem;
}

.service-title {
  display: block;
  text-align: center;
}

/* Philosophy & Appointments */

.philosophy-appointments-container {
  width: 960px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

@media only screen and (max-width: 560px) {
  .philosophy-appointments-container {
    width: 100%;
  }
}

.pa-title {
  font-weight: bold;
  font-size: 1rem;
  color: white;
  text-transform: uppercase;
  background-color: cadetblue;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1.25rem;
  width: 10rem;
  margin-top: 3rem;
}

.pa-body {
  padding-top: 1rem;
  line-height: 1.4;
}

#philosophy, #appointments {
  width: 35%;
}

@media only screen and (max-width: 560px) {
  #philosophy, #appointments {
    font-size: 0.77rem;
          width: 100%;
  }
  .pa-title {
      width: 100%;
      text-align: center;
}
  .pa-body {
    padding-top: 1rem;
    padding-bottom: 4rem;
  }

  .copyright {
    display: none;
  }
}

.spacer {
  background-color: white;
  width: 5%;
}

/* Footer */

.footer-container {
  width: 960px;
  margin: 0 auto;
  background-color: azure;
  padding: 4rem 2rem;
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 560px) {
  .footer-container {
    width: 100%;
  }
}

#black-logo {
  height: 1.5rem;
  padding-left: 4rem;
  padding-right: 1rem;
}

.copyright {
  padding-top: 4rem;
  padding-bottom: 4rem;
}
