html {
font-size: 18px;
line-height: 1.4;
font-family: "Helvetica", sans-serif;
}

.container {
  width: 960px;
  margin: 0 auto;
}

header {
  background-color: cadetblue;
  color: white;
  display: flex;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 1rem;
  position: absolute;
  width: 960px;
  margin-top: 1rem;
  align-items: center;
}

#logo {
display: flex;
flex-grow: 1;
align-items: center;
}

#logoimage {
  height: 1.5rem;
  padding-left: 2rem;
  padding-right: 1rem;
}

.menu-item {
  padding-right: 2rem;
}

.mobile-menu {
  display: none;
}

/* Banner */

.banner {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/tortoiseshell-optics/resources/images/glasses-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 30rem;
  width: 100%;
  display: flex;
  align-items: center;
}

.banner-text {
  background-color: white;
  padding: 1.5rem 1.5rem;
  float: right;
}

.banner-text h2 {
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.2;
  text-transform: uppercase;
}

/* Services */

#services-container {
  width: 960px;
  margin: 0 auto 3rem auto;
  display: flex;
  justify-content: center;
  height: 8rem;

}

.service {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 8rem;
  width: 5rem;
  margin: 3rem;
  text-align: center;
  align-items: center;
}

.icon {
  width: 3.5rem;
}

.service-title {
  display: block;
  text-align: center;
}

/* Philosophy & Appointments */

.philosophy-appointments-container {
  width: 960px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.pa-title {
  font-weight: bold;
  font-size: 1rem;
  color: white;
  text-transform: uppercase;
  background-color: cadetblue;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1.25rem;
  width: 10rem;
  margin-top: 3rem;
}

.pa-body {
  padding-top: 1rem;
  line-height: 1.4;
}

#philosophy, #appointments {
  width: 35%;
}

.spacer {
  background-color: white;
  width: 5%;
}

/* Footer */

.footer-container {
  width: 960px;
  margin: 0 auto;
  background-color: azure;
  padding: 4rem 2rem;
  display: flex;
  align-items: center;
}

#black-logo {
  height: 1.5rem;
  padding-left: 4rem;
  padding-right: 1rem;
}

.copyright {
  padding-top: 4rem;
  padding-bottom: 4rem;
}
